ruff
mypy
pytest
-e .

# for the tests
symusic
tqdm

# for interoperability with other midi libraries
pretty_midi
symusic

# setuptools required by pretty_midi
setuptools 

# for the benchnmarks
requests
types-requests
pandas